
.container{
  width: 35rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field{
  width: 35rem;
  margin-top: 10px;
  width: 100%;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.form_brrow_page button {
  margin: 2em auto;
  display: block;

  border: 6px solid rgba(255,255,255,0.45);
  border-radius: 50px;
  padding: 1em 3em;
  background-repeat: no-repeat;
  background-size: 100%;
  background-clip: padding-box;
  position: relative;
  color: #FFF;
}
.form_brrow_page button:before {
  content: "";
  width: 100%;
  height:100%;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}
.form_brrow_page button:after {
  content: "";
  width: 100%;
  height:100%;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50px;
  z-index: -1;
  filter: blur(14px);
}

.clr {
  background-image: linear-gradient(90deg, #7b81ec,  #3bd1d3);
}
.clr:before {
  background-image: linear-gradient(90deg, #7b81ec, transparent);
}
.clr:after {
  background-image: linear-gradient(90deg, transparent, #3bd1d3);
}
