<div class="container mt-4 mt-5" >
  <div class="leftcolumn mt-4 mb-5 shadow p-3 mb-5 bg-body-tertiary rounded">
  <div class="registartion-form   " >
    <form class="form_brrow_page " >
      <!-- <form  [formGroup]="registerForm"> -->
      <div class="row">
        <h1>Forgot Password </h1>
        <div class="col-md-12 align-self-center">
          <mat-form-field  appearance="outline">
            <mat-label>Email </mat-label>
            <input   matInput placeholder="Email">
            <mat-icon matSuffix>mail_outline</mat-icon>
          </mat-form-field>
          <mat-form-field  appearance="outline">
            <mat-label>Password</mat-label>
            <input   type="password" matInput placeholder="Password">
            <mat-icon matSuffix>remove_red_eye</mat-icon>
          </mat-form-field>
          <mat-form-field  appearance="outline">
            <mat-label>Password (repeat)</mat-label>
            <input   matInput placeholder="Password">
            <mat-icon matSuffix>remove_red_eye</mat-icon>
          </mat-form-field>
        </div>
      </div>
    <button  class="col-md-5 mt-4  p-1 rounded-4 clr clr1 fs-2" color="accent">Identity</button>
    </form>
  </div>
</div>
