<!-- <div class="page">
  <div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Login</span>

            <form action="#">
                <div class="input-field">
                    <input type="text" placeholder="Enter your email" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password" placeholder="Enter your password" required>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="logCheck">
                        <label for="logCheck" class="text">Remember me</label>
                    </div>

                    <a href="#" class="text">Forgot password?</a>
                </div>

                <div class="input-field button">
                    <input type="button" value="Login">
                </div>
            </form>

            <div class="login-signup">
                <span class="text">Not a member?
                    <a href="#" class="text signup-link">Signup Now</a>
                </span>
            </div>
        </div>

        Registration Form -->
        <!-- <div class="form signup">
            <span class="title">Registration</span>

            <form action="#">
                <div class="input-field">
                    <input type="text" placeholder="Enter your name" required>
                    <i class="uil uil-user"></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Enter your email" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password" placeholder="Create a password" required>
                    <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="password" placeholder="Confirm a password" required>
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="termCon">
                        <label for="termCon" class="text">I accepted all terms and conditions</label>
                    </div>
                </div>

                <div class="input-field button">
                    <input type="button" value="Signup">
                </div>
            </form>

            <div class="login-signup">
                <span class="text">Already a member?
                    <a href="#" class="text login-link">Login Now</a>
                </span>
            </div>
        </div>
    </div>
  </div>
</div>  -->


<div class="wrapper login">
    <div class="container">
        <div class="col-left">
            <div class="login-text">
                <h2>Welcome!</h2>
                <p>Create your account.<br>For Free!</p> <a href="" class="btn">Sign Up</a>
            </div>
        </div>
        <div class="col-right">
            <div class="login-form">
                <h2>Login</h2>
                <form action="">
                    <div class="line">
                      <label>Email address<span>*</span></label>
                      <input type="email" name="email" [formControl]="email" placeholder="Email" required>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                        <span class="error-text" *ngIf="email.errors?.['required']">Email is required.</span>
                        <span class="error-text" *ngIf="email.errors?.['email']">Please enter a valid email.</span>
                      </div>
                    </div>
                    <div class="line">
                      <label>Password<span>*</span></label>
                      <input type="password" name="password" [formControl]="password" placeholder="Password" required>
                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                        <span class="error-text" *ngIf="password.errors?.['required']">Password is required.</span>
                        <span class="error-text" *ngIf="password.errors?.['minlength']">Password must contain at least 6 characters.</span>
                        <!-- <div class="error-text" *ngIf="password.errors?.['pattern']">Password cannot contain whitespace</div> -->
                      </div>
                    </div>
                    <div class="submit-btn">
                      <button class="btn" type="submit" [disabled]="loginForm.invalid">Login</button>
                    </div>
                    <div class="forgot-pass">
                      <a href="">Forgot password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
