* {
    margin: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #67dee6;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: -8px;
    padding: 7px;
    /* position: fixed;
    top: 8px;
    left: 8px;
    right: 8px; */
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    position: relative;
    color: #262626;
    padding: 5px 20px;
    font-size: 24px;
    letter-spacing: 2px;

}

.title:before {
    background: #262626;
    color: white;
    content: 'LIBRARY';
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 20px;
    -webkit-clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 30% 0%, 30% 100%, 0% 100%);
    animation: slide 4s 1s linear infinite;
    letter-spacing: 2px;

}

@keyframes slide {
    50% {
        -webkit-clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 70% 100%);
    }
}

.text {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    padding: 5px 12px 5px 12px;
}

.icon:hover {
    background-color: #1b858d;
    border-radius: 20px;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.menu {
    position: relative;
    padding: 5px 5px 5px 10px;
}

.menu li {
    padding-right: 10px;
}

.menu:hover {
    border-radius: 20px 20px 0 0;
}

.menu li {
    position: relative;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 19px;
    left: -54px;
    background-color: #1b858d;
    padding: 10px;
    width: 122px;
    box-shadow: 4px 11px 10px rgba(0, 0, 0, 0.16);
    border-radius: 10px 0 10px 10px;
}

.sub-menu li a {
    color: white;
}

.sub-menu li a:hover {
    background-color: #0941ea8a;
    padding: 5px 30px 5px 5px;
    color: white;
    border-radius: 12px;
}

.menu div {
    display: flex;
    align-items: center;
}

.menu div:hover .sub-menu {
    display: block;
}

.sub-menu li {
    display: block;
    padding: 10px 0 0 0;
}

a {
    color: #333;
    text-decoration: none;
}

button {
    font-size: 15px;
    padding: 0.5em 1em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background: rgb(231, 109, 211);
    color: white;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 10px;
}

button:hover {
    background-image: linear-gradient(45deg, #e678b4 0%, #cf12b6 51%, #e678b4 100%);
    color: wheat;
    cursor: pointer;
}

button:active {
    transform: translate(0em, 0.2em);
}

@media (max-width: 1000px){
    *{
        font-size: 12px;
    }
    .title{
        font-size: 20px;
        margin-right: 23px;
    }
    .sub-menu {
        display: none;
        position: absolute;
        top: 19px;
        left: -72px;
        background-color: #1b858d;
        padding: 10px;
        width: 122px;
        box-shadow: 4px 11px 10px rgba(0, 0, 0, 0.16);
        border-radius: 10px 0 10px 10px;
    }
    
}

@media (max-width: 940px) {
    header {
        flex-direction: column;
    }

    .container-input {
        margin-top: 10px;
    }

    .icons {
        margin-top: 10px;
    }

    .icon {
        margin-right: 10px;
    }
}