<div class="profile-feature-wrapper">
  <div class="container">
    <div class="profile-feature">
      <div class="profile-cover">
        <div class="fourone-ratio">
          <div class="content img-in-ratio" style="background-image: url('./assets/bg.jpg');"></div>
        </div>
        <div id="profile-changer_cover" class="profile-changer none block-m"></div>
      </div>
      <div class="profile-nav">
        <div class="profile-ava-wrapper">
          <div class="profile-ava">
            <img src="./assets/profile.png">
          </div>
        </div>
        <div class="profile-function at-desktop none block-m">
          <a href="/" class="button to-contact button-green"><i class="fa fa-paper-plane"></i> Liên hệ</a>
        </div>
        <div class="profile-intro">
          <h3 class="profile-intro_name">Doctor Strange</h3>
          <span class="profile-intro_role role-mem">Members</span>
        </div>
        <div class="profile-function at-mobile none-m">
          <a href="/" class="button to-contact button-green"><i class="fa fa-paper-plane"></i> Liên hệ</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">

      <section class="basic-section clear">
        <ul class="statistic-top row">
          <li class="col-6">
            <div class="statistic-value">0</div>
            <div class="statistic-name">Sách đã mượn</div>
          </li>

          <li class="col-6">
            <div class="statistic-value">0</div>
            <div class="statistic-name">Sách đã trả</div>
          </li>
        </ul>

        <main class="sect-body">
          <div class="profile-info-item">
            <span class="info-name"><i class="fa fa-envelope"></i> Email: </span><span class="info-value">huylee@gmail.com</span>
          </div>
          <div class="profile-info-item">
            <span class="info-name"><i class="fa fa-mobile"></i> Số điện thoại: </span><span class="info-value">0123456789</span>
          </div>
          <div class="profile-info-item">
            <span class="info-name"><i class="fa fa-address-card"></i> Số CCCD: </span><span class="info-value">None</span>
          </div>
          <div class="profile-info-item">
            <span class="info-name"><i class="fa fa-calendar"></i> Tham gia: </span><span class="info-value">04/04/2023</span>
          </div>

        </main>
      </section>
    </div>

    <div class="col-12 col-md-12 col-lg-9 col-xl-9">
      <section class="profile-showcase">
        <header>
          <span id="number" class="number"></span>
          <span class="showcase-title">Sách sắp đến hạn</span>
        </header>
        <div class="row">

          <span>Không có sách nào</span>

        </div>
      </section>

      <section class="profile-showcase">
        <header>
          <span id="count" class="number"></span>
          <span class="showcase-title">Sách đã mượn</span>
        </header>
        <div class="row">

          <span>Không có sách nào</span>

        </div>
      </section>
    </div>
  </div>
</div>
