footer {
    display: flex;
    justify-content: space-between;
    background-color: #67dde688;
    padding: 10px 30px 10px 30px;
    font-size: 14px;
    color: black;
    font-family: Arial, sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.column {
    width: 30%;
}

.column h3 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: center;
}

.column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.column li {
    margin-bottom: 5px;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media li {
    margin-right: 10px;
}

.social-media a {
    color: black;
    padding-bottom: 5px;
}


.fa {
    font-size: 40px;
}

li a {
    text-decoration: none;
    color: black;
}

.color-icon {
    color: black;
    font-size: 15px;
}

.link:hover {
    color: blue;
}