<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <footer>
        <div class="column" style="border-right: solid 1px #b09999dd;">
            <h3>{{'Thông tin liên hệ' | translate}}</h3>
            <ul>
                <li><i class="fa-solid fa-address-book color-icon"></i> {{'Địa chỉ' | translate}}: 123 Đường ABC, Quận XYZ, TP. HCM</li>
                <li><i class="fa-solid fa-phone-volume color-icon"></i> {{'Số điện thoại' | translate}}: 0901234567</li>
                <li><i class="fa-solid fa-envelope color-icon"></i> {{'Email' | translate}}: quanlythuvien@thuvien.com</li>
            </ul>
        </div>
        <div class="column" style="border-right: solid 1px #b09999dd;">
            <h3>{{'Liên kết hữu ích' | translate}}</h3>
            <ul>
                <li><a href="#" class="link"><i class="fa-solid fa-house color-icon link"></i> {{'Trang chủ' | translate}}</a></li>
                <li><a href="#" class="link"><i class="fa-solid fa-check color-icon link"></i> {{'Danh mục sách' | translate}}</a></li>
                <li><a href="#" class="link"><i class="fa-solid fa-pen color-icon link"></i> {{'Đăng nhập' | translate}}</a></li>
                <li><a href="#" class="link"><i class="fa-brands fa-codepen color-icon link"></i> {{'Đăng ký' | translate}}</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>{{'Theo dõi chúng tôi' | translate}}</h3>
            <ul class="social-media">
                <li><a href="#"><i class="fa-brands fa-square-facebook fa" style="color: #1660df;"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-skype fa" style="color: #1660df;"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-square-instagram fa" style="color: #E95950;"></i> </a></li>
                <li><a href="#"><i class="fa-brands fa-telegram fa" style="color: #1660df;"></i> </a></li>
            </ul>
        </div>
    </footer>
</body>
</html>